.main-page {
  display: grid;
  justify-content: center;
  row-gap: 32px;

  .make-container {
    & > input {
      width: 228px;
      height: 38px;
    }
    & > button {
      background-color: skyblue;
      border-style: hidden;
      height: 42px;
      &:hover {
        outline-style: outset;
      }
    }
  }
}